Repository wagmi-dev/viem, pull requests merged in 2023-05, with the labels that each got.

#474 refactor: add & export `assertCurrentChain`
  .changeset/unlucky-tigers-fold.md
  src/actions/wallet/sendTransaction.test.ts
  src/actions/wallet/sendTransaction.ts
  src/index.test.ts
  src/index.ts
  src/utils/chain.test.ts
  src/utils/chain.ts
  src/utils/index.test.ts
  src/utils/index.ts
Labels: A: Utils, P: Low, T: Refactor

#475 fix: `hashMessage` bytes conversion
  .changeset/polite-carrots-vanish.md
  src/actions/public/verifyHash.test.ts
  src/actions/public/verifyMessage.test.ts
  src/utils/signature/hashMessage.test.ts
  src/utils/signature/hashMessage.ts
Labels: A: Utils, P: Medium, T: Bug

#506 feat: support suffixed data in `decodeAbiParameters`.
  .changeset/wet-jokes-drum.md
  site/docs/utilities/slice.md
  src/errors/abi.test.ts
  src/errors/abi.ts
  src/errors/data.ts
  src/utils/abi/decodeAbiParameters.test.ts
  src/utils/abi/decodeAbiParameters.ts
  src/utils/abi/decodeEventLog.test.ts
  src/utils/data/slice.test.ts
  src/utils/data/slice.ts
Labels: A: Utils, P: Low, T: Refactor

#500 refactor: lax log types
  .changeset/wild-seals-melt.md
  src/actions/public/getFilterChanges.test-d.ts
  src/actions/public/getFilterChanges.test.ts
  src/actions/public/getFilterLogs.test-d.ts
  src/actions/public/getFilterLogs.test.ts
  src/actions/public/getLogs.test-d.ts
  src/actions/public/getLogs.test.ts
  src/types/contract.test-d.ts
  src/types/contract.ts
  src/types/log.ts
  src/utils/abi/decodeEventLog.test-d.ts
  src/utils/abi/decodeEventLog.test.ts
  src/utils/abi/decodeEventLog.ts
Labels: A: Types, P: Low, T: Refactor

#497 docs: add "Handle custom errors" section in `simulateContract`
  site/docs/contract/simulateContract.md
Labels: A: Contracts, P: Low, T: Refactor

#602 refactor: remove ethers adapter
  .changeset/twenty-pianos-approve.md
  README.md
  package.json
  site/.vitepress/theme/sponsors.ts
  src/adapters/ethers.test.ts
  src/adapters/ethers.ts
  src/ethers.ts
Labels: A: Utils, P: Low, T: Refactor
